:host ::ng-deep .p-tablist-tab-list {
    display: flex;
    justify-content: space-evenly;
    background-color: #99959B;
    font-size: x-large;
    
    
}

:host ::ng-deep span.p-tablist-active-bar {
    height: 10px;
}