<div class="w-[100vw] h-[100vh] overflow-x-hidden">
  <div
    class="w-[100vw] h-[100vh] background-img fixed -z-10"
    style="background-image: url('background.svg'); background-size: cover"
  ></div>
  <div
    class="w-[100vw] h-[8vh] sm:h-[10vh] lg:h-16 bg-customblue flex justify-center"
  >
    <img
      src="1.png"
      class="py-1 lg:py-1"
      alt="sparecarelogo"
      (click)="navigateToRoute()"
    />
  </div>

  <div class="w-[100vw] h-[45vh] flex">
    

    <div class="flex flex-col mx-auto">
        <div class="w-60 mx-auto mt-4">
            <div class="bg-white shadow-md rounded-lg p-4 border border-gray-200">
              <h2 class="text-lg font-semibold text-gray-800">John Doe</h2>
            </div>
        </div>

        <!-- <p-orderlist [value]="data" dataKey="id" breakpoint="575px">
            <ng-template #option let-option>
                {{ option.name }}
            </ng-template>
        </p-orderlist> -->

        

    </div>


    <div class="flex flex-col mx-auto ">
        <div class="w-60 mt-4">
            <div class="bg-white shadow-md rounded-lg p-4 border border-gray-200">
              <h2 class="text-lg font-semibold text-gray-800">John Doe</h2>
            </div>
        </div>

    </div>
  

</div>
