<div class="w-[100vw] h-[100vh] overflow-x-hidden">
    <div
  class="w-[100vw] h-[100vh] background-img fixed -z-10"
  style="background-image: url('background.svg'); background-size: cover"
></div>
<div
  class="w-[100vw] h-[8vh] sm:h-[10vh] lg:h-16 bg-customblue flex justify-center"
>
  <img
    src="1.png"
    class="py-1 lg:py-1"
    alt="sparecarelogo"
  />
</div>

<p-tabs value="0">
    <p-tablist class=" !bg-transparent">
      <p-tab value="0" class="!text-white !text-lg">Four Wheeler</p-tab>
      <p-tab value="1" class="!text-white !text-lg">Two Wheeler</p-tab>
      <p-tab value="2" class="!text-white !text-lg">Commercial Segment</p-tab>
      <p-tab value="3" class="!text-white !text-lg">Agri/Construction</p-tab>
    </p-tablist>
    <p-tabpanels class="!bg-transparent">
      <p-tabpanel value="0" class="!flex !flex-row flex-wrap items-center justify-evenly">
        <div
        class="w-[22vw] flex items-center justify-center flex-col bg- rounded-lg shadow-md scale-75 self-baseline overflow-hidden" 
          *ngFor="let brand of fourWheeler" (click)="valueOffering(brand.name)"
        >
          <img
            class="w-48 h-50 object-cover"
            [src]="'brands/' + brand.image"
            alt="Card Image"
          />
          <div class="p-3 flex  items-center justify-center">
            <h2 class="text-3xl text-center font-bold  text-gray-800">{{ brand.name }}</h2>
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel value="1" class="!flex !flex-row flex-wrap items-center justify-evenly">
        <div
          class="w-[20vw] flex items-center justify-center flex-col bg- rounded-lg shadow-md scale-75 self-baseline overflow-hidden" 
          *ngFor="let brand of twowheeler"  (click)="valueOffering(brand.name)"
        >
          <img
            class="w-48 h-50 object-cover"
            [src]="'brands/' + brand.image"
            alt="Card Image"
          />
          <div class="p-3 flex items-center justify-center">
            <h2 class="text-3xl font-semibold text-gray-800">{{ brand.name }}</h2>
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel value="2" class="!flex !flex-row flex-wrap items-center justify-evenly">
        <div
          class="w-[20vw] flex items-center justify-center flex-col bg- rounded-lg shadow-md scale-75 self-baseline overflow-hidden" (click)="valueOffering(brand.name)"
          *ngFor="let brand of commercial"
        >
          <img
            class="w-48 h-50 object-cover"
            [src]="'brands/' + brand.image"
            alt="Card Image"
          />
          <div class="p-3 flex items-center justify-center">
            <h2 class="text-3xl font-semibold text-gray-800">{{ brand.name }}</h2>
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel value="3" class="!flex !flex-row flex-wrap items-center justify-evenly">
        <div
          class="w-[20vw] flex items-center justify-center flex-col bg- rounded-lg shadow-md scale-75 self-baseline overflow-hidden" (click)="valueOffering(brand.name)"
          *ngFor="let brand of construction"
        >
          <img
            class="w-48 h-50 object-cover"
            [src]="'brands/' + brand.image"
            alt="Card Image"
          />
          <div class="p-3 flex items-center justify-center">
            <h2 class="text-3xl font-semibold text-gray-800">{{ brand.name }}</h2>
          </div>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
  
</div>

<router-outlet></router-outlet>
